# Core functionality - changes here should be rare!
/src/app.py                   @Dix05HAR
/src/backend/database.py      @Dix05HAR
/src/backend/routers/auth.py  @Dix05HAR

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Dix05HAR
